<!DOCTYPE html>
<html>
<body>

<h1>Classificação de flores</h1>
<p>Digite as medidas da flor.</p>
<p>As medidas ser feitas em centímetros.</p>
<p>Exemplos: 1.2, 2.5, 3.2, 4.9</p>

<form action="/predict">
  Comprimento da sépala: <input type="text" name="sepal_l"><br>
  Largura da sépala: <input type="text" name="sepal_w"><br>
  Comprimento da pétala: <input type="text" name="petal_l"><br>
  Largura da pétala: <input type="text" name="petal_w"><br>
  <input type="submit" value="Enviar">
</form>

</body>
</html>